/*
 Theme Name:   Adriaticmedia Net.hr Mobile
 Description:  Net.hr Mobile Theme
 Author:       AdriaticMedia
 Author URI:   www.adriaticmedia.hr
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  nethr-child
*/

/* CSS Reset*/
* { -webkit-border-radius:0px; -webkit-appearance: none; }
html {
    margin: 0;
    padding: 0;
    border: 0;
}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
}

/* Body setup*/
body {
    width: 100%;
    font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #666;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
    text-decoration: none;
    color: #f95905;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

b {
    font-weight: 900;
}

:focus {
    outline: none;
}

img {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    position: relative;
}
body.single {
    padding-bottom: 25px;
}
.content-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 45px 0 0 0;
}

.admin-bar .content-container { padding: 90px 0 0 0; }
.container {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.full-container {
    padding: 0;
}

.single.full-container {
    border-top: 1px solid #ddd;
}

.section-title {
    color: #666;
    border-bottom: 3px solid #f95905;
    padding: 0 !important;
    text-transform: uppercase;
    font-size: 18px !important;
    font-weight: 400 !important;
    display: inline-block;
    margin-bottom: -1px;
    position: relative;
    z-index: 5;
}

.section-title a { color: #666; }

.section-title.head {  margin: 5px 10px -1px; }
.section-title.danas { border-bottom: 3px solid #d90000; }
.section-title.sport { border-bottom: 3px solid #0059b2; }
.section-title.hot   { border-bottom: 3px solid #d900d9; }
.section-title.magazin { border-bottom: 3px solid #8eb200; }
.section-title.tehnoklik { border-bottom: 3px solid #00a3d9; }
.section-title.auto  { border-bottom: 3px solid #b70000; }
.section-title.super1  { border-bottom: 3px solid #bc1039; }

.section-title.euro-2016.head {
    margin: 5px 0px -1px;
    width: 100%;
    text-align: center;
}
.section-title.euro-2016.head img {
    display: inline-block;
    margin-bottom: -5px;
}

.native-tag {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 5px;
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1; /* IE 6/7 only */
}

/* Navbar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-backface-visibility:hidden;
}

.admin-bar header { top: 45px; }
.admin-bar header.fix { top: 0; position: fixed; }


header .logo {
    float: left;
    height: 45px;
    position: relative;
    z-index: 5;
}

header .logo h1 {
    text-indent: -9999px;
    margin: 0 15px 0 0;
    width: 100px;
    height: 42px;
    background: url(img/logo_color.png) no-repeat center left;
    background-size: auto 22px;
}

header .main-navbar {
    background: #ddd;
    color: #787878;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
    border-bottom: 1px solid rgba(1,1,1,0.1);
    -webkit-transition: background .3s;
    transition: background .3s;
}

header i { line-height: 45px !important; }

.colored .logo h1 {
    background: url(img/logo_white.png) no-repeat center left;
}
.colored #search-activator {
    color: rgba(255,255,255,0.8);
}
.colored #menu-toggle > div {
    background: rgba(255,255,255,0.8);
}

.danas.main-navbar      { background: #d80100; }
.sport.main-navbar      { background: #005cb4; }
.webcafe.main-navbar,
.ispovijesti.main-navbar { background: #f95905; }
.hot.main-navbar        { background: #da00da; }
.magazin.main-navbar    { background: #8fb200; }
.tehnoklik.main-navbar  { background: #00a4d9; }
.auto.main-navbar       { background: #b80000; }
.net-tv.main-navbar     { background: #f9df0e; }
.crna-kronika.main-navbar { background: #333;  }
.zena.main-navbar { background: #fff;  }
.super1.main-navbar { background: #bc1039;  }

.zena.main-navbar .logo h1 {
    background: url("img/zenanet_logo.svg") no-repeat center left;
    background-size: auto 22px;
}

.zena.main-navbar.colored #menu-toggle > div {
    background: #787878;
}

.zena.main-navbar.colored #search-activator {
    color: #787878;
}

#menu-toggle {
    cursor: pointer;
    float: left;
    position: relative;
    width: 32px;
    height: 32px;
    top: 7px;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}

.zena.main-navbar #menu-toggle {
    z-index: 10;
}

.burger, .burger-after, .burger-before {
    top: 50%;
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background: #787878;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
}
.burger-before { margin-top: -6px; }
.burger-after { margin-top: 6px; }

.toggled-on .burger-before {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.toggled-on .burger-after {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.toggled-on .burger { display: none; }


.toggled-on .main-container {
    position: fixed;
    left: 80%;
    -webkit-transition: left .3s;
    transition: left .3s;
    /* acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.side-menu {
    overflow-x: hidden;
    width: 80%;
    background: #333;
    position: absolute;
    top: 45px;
    height: 100vh;
    padding-bottom: 45px;
    margin-left: -80%;
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s;
    /* acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.toggled-on .side-menu { margin-left: 0; }
.admin-bar .side-menu { top: 45px; padding-bottom: 90px; }

.side-menu h3 { padding: 10px 10px 0; text-transform: uppercase; }
.side-menu .menu li {
    border-top: 1px solid #444;
    padding: 0 10px;
}
.side-menu .menu a {
    color: #ddd;
    line-height: 40px;
    display: block;
    font-size: 18px;
    font-weight: 300;
}

#search-activator { float: right; }
#google-search {
    position:  absolute;
    top: 0;
    width: 100%;
    padding: 7px 10px;
    z-index: 9999;
    display: none;
}
#google-search input {
    line-height: 31px;
    height: 31px;
    border: none;
    background: #fff;
    border-radius: 3px;
    padding: 0 15px;
    width: 100%;
    font-size: 14px;
}
#google-search i {
    position: absolute;
    font-size: 18px;
    top: 0px;
    right: 0;
    z-index: 99999;
    text-align: center;
    width: 50px;
}

/* Ticker */
.ticker {
    overflow: hidden;
    padding: 2px 10px;
}

.ticker a {
    color: #666;
}

.ticker strong { color: #333; }

.ticker ul {
    height: 20px;
    font-size: 14px;
}

.ticker ul li {
    background: #fff;
}

/* Marquee */
.marquee li strong { padding-left: 10px; }
.marquee li { display: inline; }
.marquee {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 14px;
    position: relative;
    border-top: 1px solid #ddd;
    top: -1px;
}
.marquee .arrow {
    position: absolute;
    top: 0; right: 0;
    width: 40px;
    text-align: center;
    height: 100%;
    background: #fff;
    border-left: 1px solid #ddd;
    color: #f95905;
    font-size: 18px;
}

.najnovije-head { padding: 20px 0 10px; }
.najnovije-head .section-title {
    border-bottom: none;
    background: #f95905;
    color: #fff;
    width: 170px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    position: relative;
    margin-right: 15px;
    margin-left: 10px;
}
.najnovije-head .section-title .arrow {
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 10px solid  #f95905;
    position: absolute;
    top: 0;
    right: -10px;
}

/* Articles */

article {
    padding: 10px;
}
article .title {
    font-family:  'Oswald', Impact, seirf;
    font-size: 16px;
    line-height: 1.2em;
    color: #111;
}
article .overtitle {
    font-size: 12px;
    line-height: 12px;
    color: #666;
    text-transform: uppercase;
    padding: 3px 0;
}
article img {
    max-width: 100%;
    height: auto;
    border-bottom:  3px solid #f95905;
}

article.danas img { border-bottom:  3px solid #d80100; }
article.sport img { border-bottom:  3px solid #0059ab; }
article.hot img { border-bottom:  3px solid #de01d8; }
article.magazin img { border-bottom:  3px solid #8fb200; }
article.tehnoklik img { border-bottom:  3px solid #01a5d8; }
article.auto img { border-bottom:  3px solid #b80000; }
article.net-tv img { border-bottom:  3px solid #f9df0e; }
article.crna-kronika img { border-bottom:  3px solid #333; }
article.super1 img { border-bottom:  3px solid #bc1039; }

.article-1 {
    position: relative;
    overflow: hidden;
    padding: 0;
}
.article-1 .bg-shadow {
    background: url(img/article1_bg.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 0;
}
.article-1 .article-text {
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 10px;
    margin: 0 10px 0 0;
}
.article-1 .title {
    font-size: 24px;
    line-height: 1.3em;
    -webkit-text-shadow: 0 1px 1px #333;
    text-shadow: 0 1px 1px #333;
    color: #fff;
}
.article-1 .overtitle,
.single .content .overtitle {
    padding: 1px 10px;
    background: #333;
    margin: 0 0 5px -10px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}


.article-1 .overtitle.danas,
.single .content .overtitle.danas {
    background: #d90000;
}

.article-1 .overtitle.super1,
.single .content .overtitle.super1 {
    background: #bc1039;
}

.article-1 .overtitle.crna-kronika,
.single .content .overtitle.crna-kronika {
    background: #333;
}

.article-1 .overtitle.sport,
.single .content .overtitle.sport {
    background: #0059b2;
}

.article-1 .overtitle.magazin,
.single .content .overtitle.magazin {
    background: #8eb200;
}

.article-1 .overtitle.hot,
.single .content .overtitle.hot {
    background: #d900d9;
}

.article-1 .overtitle.tehnoklik,
.single .content .overtitle.tehnoklik {
    background: #00a3d9;
}

.article-1 .overtitle.auto,
.single .content .overtitle.auto {
    background: #b70000;
}

.article-1 .overtitle.webcafe,
.single .content .overtitle.webcafe {
    background: #f95905;
}


/* Article 2 */
.article-2 {
    width: 50%;
    float: left;
}
.article-2:first-child { padding-right: 5px; }
.article-2:last-child { padding-left: 5px; }

/* Article 3 */
.article-3 { border-top: 1px solid #ddd; clear: both }
.article-3 .overtitle { padding-top: 0; }
.article-3 img { width: 40%; float: left; margin-right: 10px; }

/* Article 1.5 */
.article-1-5 {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.article-1-5 .thumb {
    width: 135px;
    position: absolute;
    left: -145px;
}
.article-1-5 .thumb img { width: 100%; height: auto; }

.article-1-5 .article-text {
    position: relative;
    margin-left: 145px;
    min-height: 121px;
}

.article-1-5 .overtitle {
    margin: 0 0 5px 0;
    font-size: 12px;
    line-height: 10px;
    text-transform: uppercase;
    color: #666;
    font-weight: 600;
    padding: 0 0 0 3px;
    border-left: 3px solid #ddd;
}

.article-1-5 .overtitle.danas {
    border-color: #d90000;
}
.article-1-5 .overtitle.super1 {
    border-color: #bc1039;
}

.article-1-5 .overtitle.crna-kronika {
    border-color: #333;
}

.article-1-5 .overtitle.sport {
    border-color: #0059b2;
}

.article-1-5 .overtitle.magazin {
    border-color: #8eb200;
}

.article-1-5 .overtitle.hot {
    border-color: #d900d9;
}

.article-1-5 .overtitle.tehnoklik {
    border-color: #00a3d9;
}

.article-1-5 .overtitle.auto {
    border-color: #b70000;
}

.article-1-5 .overtitle.webcafe {
    border-color: #f95905;
}

.article-1-5 .title {
    font: 16px/20px 'Oswald', Impact, seirf;
    color: #222;
}

.webcafe-article {
    background: #f95905;
    border-bottom: 1px solid #ff8748;
    border-top: none;
}

.webcafe-article .overtitle {
    color: #fff;
    border-left: none;
    padding: 0;
}

.webcafe-article .title {
    color: #fff;
    font: 18px/22px 'Oswald', Impact, serif;
}

/* Icons widget */
.icons-widget {
    margin: 30px 0 5px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.icons-widget > div {
    float: left;
    padding: 5px 20px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
    width: 50%;
}

.icons-widget .fb-like {
    border: none;
    line-height: 25px;
}

.icons-widget a {
    color: #333;
}

.icons-widget a:hover {
    color: #f95905;
}

.icons-widget img {
    display: inline-block;
    padding-right: 5px;
    width: 30px;
    height: auto;
    margin-bottom: -8px;
}



/* Foto vijesti */
.foto-vijesti {
    background: #333;
    padding: 10px;
}

.foto-vijesti .section-title {
    color: #fff;
}

.foto-vijesti .underline {
    border-top: 1px solid #666;
}

.foto-vijesti .section-body {
    margin: 0 -10px 0 0;
}

.foto-vijesti article {
    width: 33.33%;
    float: left;
    font-size: 14px;
}

.foto-vijesti article a {
    display: inline-block;
    margin: 10px 10px 10px 0;
    color: #fff;
}

.foto-vijesti article img {
    width: 100%;
    height: auto;
}


/* Horoskop big */
.horoskop-big .widget-header h2 {
    text-transform: uppercase;
    padding: 0 5px 0px;
    font-family: 'Theano Didot', serif;
    font-size: 30px;
    display: inline-block;
}

.horoskop-big .widget-header h2 a { color: #742069; }

.horoskop-big .widget-header #aurora {
    padding: 5px 0px;
}

.horoskop-big .widget-body {
    padding: 5px 10px;
    border-top: 1px solid #ddd;
}
.horoskop-big .zodiac-sign {
    padding: 0px 0 0px 32px;
    background-image: url("img/zodiac_sprite.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: auto 22px;
    width: 33.33%;
    float: left;
    margin: 10px 0;
}

.horoskop-big .aurora-mini {
    display: none;
}

.horoskop-big .zodiac-sign a {
    display: block;
    background: #fff;
    line-height: 22px;
    color: #111;
}

.horoskop-big .zodiac-sign a:hover {
    color: #f95905;
}


.horoskop-big .ovan     { background-position: 0px 0px; }
.horoskop-big .bik      { background-position: -42px 0px; }
.horoskop-big .blizanci { background-position: -82px 0px; }
.horoskop-big .rak      { background-position: -126px 0px; }
.horoskop-big .lav      { background-position: -164px 0px; }
.horoskop-big .djevica  { background-position: -210px 0px; }
.horoskop-big .vaga     { background-position: -262px 0px; }
.horoskop-big .skorpion { background-position: -304px 0px; }
.horoskop-big .strijelac { background-position: -352px 0px; }
.horoskop-big .jarac    { background-position: -399px 0px; }
.horoskop-big .vodenjak { background-position: -450px 0px; }
.horoskop-big .ribe     { background-position: -500px 0px; }




/* Banners */
.banner {
    background: url("img/banner_bg.svg");
    background-size: 5px 5px;
    text-align: center;
}

.banner div,
.banner img,
.banner embed,
.banner object,
.banner iframe,
.banner ins {
    margin: 10px auto !important;
    display: block;
}

    /* Category */

.category-head .category-title {
    font-size: 18px;
    float: left;
    padding: 5px 10px;
    color: #fff;
}

.category-head .more {
    font-size: 12px;
    float: right;
    display: inline-block;
    padding: 9px 10px;
    color: #fff;
    opacity: 0.7;
}

.load-more {
    text-transform: uppercase;
    color: #666;
    font-weight: 600;
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

.egida {
    background: #f95905;
    padding: 0 10px;
    text-transform: uppercase;
    line-height: 26px;
    margin-top: 15px;
}
.egida a { color: #fff; }

.danas.egida { background: #d80100; margin-top: 0; }
.sport.egida { background: #005ead; }
.webcafe.egida { background: #f95905; }
.hot.egida { background: #da00da; }
.magazin.egida { background: #8fb200; }
.tehnoklik.egida { background: #01a2d8; }
.auto.egida { background: #b80000; }
.net-tv.egida { background: #f9df0e; }
.crna-kronika.egida { background: #333; }
.zena.egida { background: #ee3c23; }
.super1.egida { background: #bc1039; }


.big-block.danas article img { border-bottom: 3px solid #d80100; }
.big-block.sport article img { border-bottom: 3px solid #005cb4; }
.big-block.webcafe article img { border-bottom: 3px solid #f95905; }
.big-block.hot article img { border-bottom: 3px solid #da00da; }
.big-block.tehnoklik article img { border-bottom: 3px solid #00a4d9; }
.big-block.auto article img { border-bottom: 3px solid #b80000; }
.big-block.net-tv article img { border-bottom: 3px solid #f9df0e; }
.big-block.magazin article img { border-bottom: 3px solid #8fb200; }
.big-block.super1 article img { border-bottom: 3px solid #bc1039; }

.big-block.zena {
    margin: 0 10px;
}

.big-block.zena .article-1 {
    padding: 0;
}

.danas.main-navbar      { background: #d80100; }
.sport.main-navbar      { background: #005cb4; }
.webcafe.main-navbar    { background: #f95905; }
.hot.main-navbar        { background: #da00da; }
.magazin.main-navbar    { background: #8fb200; }
.tehnoklik.main-navbar  { background: #00a4d9; }
.auto.main-navbar       { background: #b80000; }
.net-tv.main-navbar     { background: #f9df0e; }
.crna-kronika.main-navbar { background: #333;  }
.super1.main-navbar { background: #bc1039;  }

.ispovijesti .single .article-meta span {
    font-size: 13px;
    text-transform: uppercase;
}

.ispovijesti .category-ico {
    display: inline-block;
    width: 31px;
    height: 24px;
    background-image: url("img/ispovijesti_logo.png");
    background-size: auto 24px;
    margin: 0 0 0 0;
}

.ispovijesti .section-title {
    padding: 0 15px 0 0 !important;
}

.article-ispovijesti {
    border-top: 1px solid #ddd;
}

.article-ispovijesti .title a {
    color: #111;
}

.article-ispovijesti .title {
    font-size: 24px;
    padding: 5px 0 10px;
}

.article-ispovijesti .article-meta {
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
    padding: 10px 0 0 0;
}

.article-ispovijesti .article-meta > span {
    margin: 0 10px 0 0;
}



/* Ispovijesti Form */
.ispovijest-form .widget-body.gray {
    padding-bottom: 50px;
    padding: 7px 10px 40px;
}

.ispovijest-form .uvjeti {
    position: absolute;
    left: 34px;
    bottom: 52px;
}

.ugc-input-wrapper {
    position: relative;
}

.ugc-input-wrapper label {
    font-weight: normal !important;
    position: absolute;
    top: 16px;
    left: 10px;
}

.ugc-input-wrapper input:not(.button),
.ugc-input-wrapper textarea,
.ugc-input-wrapper select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #111;
    background: #fff;
}

.ugc-input-wrapper textarea {
    height: 215px;
}

.checkbox-option-wrapper {
    position: relative;
    padding: 0;
    height: 18px;
}

.checkbox-option-wrapper input {
    width: 15px !important;
    height: 15px !important;
    background-color: white;
    border: 1px solid #ccc !important;
    padding: 0 !important;
    margin: 0 !important;
}

.checkbox-option-wrapper input[type='checkbox']:checked {
    background-image: url("img/check.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center -2px;
}

.ugc-input-wrapper .button {
    padding: 5px 20px;
    right: 0;
    font-family: "Oswald", Impact, sans-serif;
    font-size: 18px;
    background: #f95905;
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    box-shadow: none;
}


/* Ne propustite */
.ne-propustite {
    background: #ddd;
    padding: 10px;
}

.ne-propustite .underline {
    border-top: 1px solid #bbb;
}

.ne-propustite article {
    position: relative;
    margin: 5px 0 5px 15px;
}

.ne-propustite article .square {
    position: absolute;
    left: -15px;
    top: 6px;
    width: 10px;
    height: 10px;
    background: #fff;
}

.ne-propustite article a {
    color: #333;
    font-size: 14px;
}

/* Search page */
.searchbar { padding: 0 0 10px; }
.searchbar input {
    padding: 9px !important;
    color: #999 !important;
    border: 1px solid #ddd !important;
    width: 100% !important;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.searchbar i {
    position: absolute;
    top: 10px; right: 20px;
}
.search-container iframe { width: 100%; }


/* Breaking */
.breaking-1 {
    background: #f95905;
    color: #fff;
    padding: 10px 10px;
}
.breaking-1 a { color: #fff; }
.breaking-1 .breaking-text .title {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 1.1em;
    padding: 5px 0;
}
.breaking-1 .breaking-sticker { text-transform: uppercase; }


.breaking-small {
    background: #e5e5e5;
    padding: 5px 10px 5px 20px;
    font-size: 15px;
    text-indent: -5px;
    line-height: 1.1em;
}
.breaking-small a { color: #333; }
.breaking-small i { color: #f95905; }

.PDS_Poll input[type="radio"] {
     -webkit-appearance: radio !important;
}

.PDS_Poll input[type="checkbox"] {
    -webkit-appearance: checkbox !important;
}

/* Footer */
footer {
    text-align: center;
}

.wp-vip {
    background: #333;
    color: #666;
    padding: 20px 0;
    font-size: 14px;
}

.bottom-icons a {
    display: block;
    width: 25%;
    padding: 10px 0;
    text-transform: uppercase;
    color: #fff;
    background: #222;
    font-size: 10px;
    float: left;
    border-right: 1px solid #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.bottom-icons a:last-child {
    border: none;
}

/* Single */
.single .featured-img img {
    width: 100%;
    height: auto;
    display: block;
}

.single .content .overtitle {
    position: relative;
    top: -22px;
    font-size: 16px;
}

.single .content .title {
    font: 28px/1.2em 'Oswald', Impact, seirf;
    color: #333;
    margin: 0 0 15px;
}

.single .content {
    margin-bottom: 15px;
}

.single .article-content { color: #333; padding: 0 0 15px; font-size: 18px; line-height: 1.5em; }
.single .article-content b,
.single .article-content strong { font-weight: 600;  }
.single .article-content p { padding: 7.5px 0; }

.single .article-content h1 {
    font-family: 'Oswald', Impact, sans-serif;
    font-size: 2.2em;
    padding: 1em 0 0;
    line-height: 1.4em;
}

.single .article-content h2 {
    font-family: 'Oswald', Impact, sans-serif;
    font-size: 1.8em;
    padding: 1em 0 0;
    line-height: 1.4em;
}

.single .article-content h3 {
    font-family: 'Oswald', Impact, sans-serif;
    font-size: 1.5em;
    padding: 1em 0 0;
    font-weight: normal;
    line-height: 1.4em;
}

.single .article-content h6 {
    font-size: 14px;
    line-height: 1.2em;
}

.single .article-content .article-box {
    margin: 15px -15px;
    padding: 15px;
}
.single .featured-img { min-height: 40px; }
.single .article-content .article-box h1,
.single .article-content .article-box h2,
.single .article-content .article-box h3 {
    padding: 0 0 0.2em;
}
.single .article-content .article-box p { padding: 0; }
.single .article-content .article-box figure { float: left; margin-right: 15px; }
.single .article-content .article-box .wp-caption-text {
    background: #333;
    color: #ffF;
    font-size: 12px;
    line-height: 16px;
    padding: 5px 10px;
}
.single .article-content .light-box { background: #f5f5f5; border-top: 1px solid #ddd; }
.single .article-content .dark-box { background: #444; color: #fff; }

.single .article-content .quote:before {
    content: '\f10d';
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 48px;
    line-height: 1em;
    float: left;
    color: #f6732d;
    margin-right: 15px;
    font-style: normal;
}
.single .article-content .quote { font-size: 24px; font-style: italic; padding: 15px 0; }
.single .article-content .tags a {
    display: inline-block;
    background: #eee;
    color: #333;
    padding: 0 5px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0 2px 0 0;
}
.single .article-content .tags a:hover { background: #f95905; color: #fff; }

.single .article-content img,
.single .article-content figure {
    max-width: 100% !important;
    height: auto;
}


.single .article-content ul li {
    margin-left: 20px;
    list-style-type: disc;
}

.single .article-content iframe {
    max-width: 100%;
}

.single .article-content .youtube-player { height: 210px; }

.webcafe .single-format-image .content .title {
    font-size: 42px;
    line-height: 1em;
    margin-bottom: 5px;
}
.webcafe .single .vote {
    font-size: 24px;
}
.webcafe .single .article-bottom {
    padding: 0 0 20px;
}


.gallery-link {
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-top: 3px solid #f95905;
    margin: 15px 0;
}
.gallery-link .triangle {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 0 solid transparent;
    border-top: 15px solid #f95905;
    -webkit-transition: border 0.2s ease-in-out;
    -moz-transition: border 0.2s ease-in-out;
    -ms-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
.gallery-link:hover .triangle {
    border-left: 25px solid transparent;
    border-right: 0 solid transparent;
    border-top: 25px solid #f95905;
}

.danas .gallery-link,
.danas .gallery-link .triangle { border-top-color: #d90000; }

.crna-kronika .gallery-link,
.crna-kronika .gallery-link .triangle { border-top-color: #111; }

.sport .gallery-link,
.sport .gallery-link .triangle { border-top-color: #0059b2; }

.hot .gallery-link,
.hot .gallery-link .triangle { border-top-color: #d900d9; }

.magazin .gallery-link,
.magazin .gallery-link .triangle { border-top-color: #85b200; }

.auto .gallery-link,
.auto .gallery-link .triangle { border-top-color: #b70000; }

.tehnoklik .gallery-link,
.tehnoklik .gallery-link .triangle { border-top-color: #00a3d9; }

.gallery-link img { margin: 0 !important; }
.gallery-link .inner {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1,1,1,0.6);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.gallery-link .inner:hover { background: rgba(1,1,1,0.8); }
.gallery-link-text {
    position: absolute;
    margin-top: -44px;
    top: 50%;
    left: 0;
    z-index: 2;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    font: 24px/30px 'Oswald', Impact, serif;
}
.gallery-link-text i { display: block; font-size: 48px; margin-bottom: 10px; }


.more-articles h2 {
    font-size: 12px;
    position: relative;
    top: -3px;
    padding-bottom: 0;
}
.more-articles .title {
    margin: -5px 0 5px !important;
    font-size: 18px !important;
}

#gallery-title {
    font: 32px/1.2em 'Oswald', Impact, seirf;
    color: #333;
    margin: 0 10px 15px;
}
.gallery-item figcaption { padding: 5px 10px 10px; }

.read-more {
    padding: 5px 0;
    background: #eee;
}
.read-more a {
    display: block;
    padding: 5px 10px;
    color: #666;
}
.read-more a i { color: #f95905; }

/* Share */
.share {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.share a {
    display: block;
    float: left;
    width: 16.66%;
    padding: 10px 0;
    background: #333;
    color: #fff;
    text-align: center;
}
.share .fatty {
    width: 49.98%;
}
.share .fb {
    background: #3b5999;
}

.share .tw {
    background: #00acee;
}

.share .gp {
    background: #de4b39;
}

.share .wa {
    background: #009f01;
}

.share .em {
    background: #333;
}

.share .co {
    background: #e00035;
}

.sd-content .share-messenger .fb-send {
    top: -5px;
}

.sd-content .link {
    text-align: center;
    padding: 0 7px 0;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgba(1,1,1,0.1);
    font-size: 12px;
    position: relative;
    top: -5px;
    line-height: 19px;
    margin: 0;
}
.sd-content #whatsapp {
    background: #3dbd2a;
}
.sd-content #viber {
    background: #7d519e;
}

.ico {
    display: inline-block;
    height: 12px;
    width: 12px;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    margin-bottom: -2px;
    margin-right: 2px;
}
.ico-viber { background-image: url("img/viber-icon.png"); }


/* Ispovijesti */
.ispovijesti .content-container {
    padding: 25px 0 0 0;
}

.admin-bar .header-ispovijesti {
    margin-top: 46px;
}
.header-ispovijesti {
    height: 135px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #23232b;
    border-bottom: 2px solid #f95905;
}

.header-ispovijesti img { padding: 45px 0 0 10px; }

.menu-ispovijesti-container {
    margin: 0 10px 10px;
}

.menu-ispovijesti-container li {
    display: inline-block;
}

.menu-ispovijesti-container li a {
    display: block;
    font-size: 14px;
    line-height: 16px;
    padding: 0 10px 0 0;
    text-align: center;
    text-transform: uppercase;
    color: #888;
}

.ispovijesti-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    line-height: 45px;
    padding: 0 10px;
    background-color: #f95905;
    border-top: 1px solid #ea5100;
    text-align: center;
}

.ispovijesti-buttons a {
    display: inline-block;
    font-size: 15px;
    width: 49%;
    color: #fff;
}


.ispovijesti-menu select {
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    background-color: #fff;
    border: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
    font-family: "Source Sans Pro", arial, Helvetica, sans-serif;
}

.ispovijesti-menu {
    position: relative;
    margin: 0 10px 10px;
}

.ispovijesti-menu:after {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    right: 15px;
    top: 14px;
}

.ispovijesti-count {
    padding: 0 10px 10px;
    font-family: "Oswald", Impact, sans-serif;
    font-size: 22px;
    color: #111;
}

.ispovijesti-count .highlight {
    color: #f95905;
}

.article-ispovijest {
    margin: 10px;
    background: #eee;
    padding: 15px;
    border-radius: 10px;
}

.article-ispovijest .post-categories {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 5px;
}

.article-ispovijest .title {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2em;
    padding-bottom: 5px;
}

.ispovijesti-meta {
    font-size: 14px;
    color: #888;
}

.ispovijesti-meta > span {
    line-height: 1em;
    display: inline-block;
    padding: 0 15px 0 0;
    position: relative;
}

.ispovijesti-meta > span:after {
    content: '\00b7';
    font-size: 24px;
    position: absolute;
    right: 3.5px;
    bottom: 1px;
}

.ispovijesti-meta > span:last-child:after {
    content: ' ';
}

.article-ispovijest .fb-like {
    padding: 11px 0 0;
    display: block;
}

/* Single ispovijesti */
.single-ispovijesti .content .title {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2em;
}

.single-ispovijesti .content .post-categories {
    text-transform: uppercase;
    margin: 30px 0 20px;
}

/* Ispovijesti form */
.ugc-input-wrapper {
    position: relative;
}

.ugc-input-wrapper label {
    font-weight: normal !important;
    position: absolute;
    top: -1px;
    left: 10px;
    font-size: 13px;
    line-height: 1em;
    text-transform: uppercase;
    background: #fff;
    padding: 0 5px;
    color: #999;
    z-index: 1;
}

.ugc-input-wrapper input:not(.button),
.ugc-input-wrapper textarea,
.ugc-input-wrapper select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    padding: 0 15px;
    font-size: 16px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #111;
    background: #fff;
    line-height: 50px;
    height: 50px;
    margin-bottom: 12px;
}

.ugc-input-wrapper select {
    -webkit-appearance: none;
    position: relative;
}

.ugc-inner-wrapper .ugc-input-wrapper input[type="text"] {
    width: 70%;
}

.ugc-input-wrapper textarea {
    height: 215px;
}

.ugc-input-wrapper:nth-child(8):after {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    right: 20px;
    top: 18px;
}

.checkbox-option-wrapper {
    position: relative;
    padding: 0;
    height: 25px;
    width: 25px;
    z-index: 5;
}


.ugc-input-wrapper .button {
    margin: -45px 0 0 0;
    padding: 10px 35px;
    font-size: 24px;
    position: relative;
}

.ugc-inner-wrapper p {
    top: -52px;
    padding: 0;
    font-size: 16px;
    position: relative;
    left: 24px;
    z-index: 0;
    line-height: 1.2em;
}

.ugc-input-wrapper .checkbox-option-wrapper label.error {
    position: absolute;
    width: 200px;
    display: block;
    top: 7px;
    left: 410px;
    color: red;
}



/* Webshop */
.single .webshop-widget .widget-body {
    width: 100%;
}

.single .webshop-widget .widget-body > .inner {
}


.single .webshop-widget .section-title {
    border-bottom: none;
}

.single .webshop-widget article {
    margin: 10px 0;
    margin-right: 0;
    width: 50%;
}

.single .webshop-widget article .inner {
    margin-right: 10px;
}

.single .webshop-widget article .thumb {
    height: 122px;
}


.single .webshop-widget article .thumb img {
    width: 100%;
    height: auto;
    border: none;
}

.single .webshop-widget article .article-text p {
    color: #666;
    font-size: 14px;
    padding: 5px 0;
    display: none;
}

.single .webshop-widget article .article-text .title {
    min-height: 0;
    color: #111;
    line-height: 1.3em;
    padding: 8px 0 5px;
    margin: -15px 0 0;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 600;
}

.single .webshop-widget article .article-text .title:hover {
    color: #d81f26;
}


.single .webshop-widget article .prices {
    color: #111;
    font-size: 12px;
    text-transform: uppercase;
}

.single .webshop-widget article .prices span {
    text-decoration: line-through;
}

.single .webshop-widget article .prices .red {
    color: #d81f26;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}

.single .webshop-widget article .overtitle {
    border-left: none !important;
    background: #ffe50e !important;
    color: #111;
    font-weight: 600;
    display: inline-block;
    width: auto;
    padding: 3px 5px;
    font-size: 13px;
    top: 0;
    margin: 0 0 15px;
}

.single .webshop-widget article .btn {
    display: inline-block;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 20px;
    background: #d81f26;
    color: white;
    margin-top: 5px;
}

.single .webshop-widget article .btn:hover {
    background: darkred;
}



/* Highres setup */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and ( min--moz-device-pixel-ratio: 2),
       only screen and ( -o-min-device-pixel-ratio: 2/1),
       only screen and ( min-device-pixel-ratio: 2),
       only screen and ( min-resolution: 192dpi),
       only screen and ( min-resolution: 2dppx) {

    header .logo h1 {
        background: url(img/2x/logo_color.png) no-repeat center left;
        background-size: auto 22px;
    }
    .colored .logo h1 {
        background: url(img/2x/logo_white.png) no-repeat center left;
        background-size: auto 22px;
    }

    .horoskop-big .zodiac-sign {
        background-image: url("img/2x/zodiac_sprite_2x.png");
    }

    .ispovijesti .category-ico {
        background-image: url("img/2x/ispovijesti_logo.png");
    }
}

.vecernji-widget .widget-header {
    border-bottom: 1px solid #ddd;
}

.vecernji-widget .widget-header .section-title {
    margin-bottom: -6px;
    border: none;
}

.vecernji-widget .article-3 {
    padding: 10px 0;
}

.vecernji-widget .article-3 .article-text {
    float: none;
    width: auto;
    margin-left: 50%;
}

.vecernji-widget .article-3 .overtitle {
    border-left: 3px solid #e31e26;
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: normal;
    top: 0;
    background: no-repeat;
    color: #666;
    margin: 0 0 5px 0;
    padding: 0 0 0 5px;
}

.vecernji-widget .article-3 .title {
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2em;
}

.vecernji-widget .article-3 p {
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.vecernji-widget .article-3 .thumb {
    width: 50%;
    height: auto;
}

.vecernji-widget .article-3 .thumb img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #e31e26;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
    * { -webkit-font-smoothing: subpixel-antialiased; }
}

#wpstats { display: none; }

.tes-widget {
    width: 300px;
    margin: 0 auto;
}

.widget-satovi {
    margin: 15px 15px;
}

.widget { margin: 15px 0 15px; position: relative; }

.widget-header .more { color: #333; font-size: 12px; text-transform: uppercase; float: right; display: block; line-height: 27px; }
.widget-header .more i { font-size: 8px; }
.widget-body { border-top: 1px solid #888; margin: -1px 0 0 0; }
.widget-body.dark { background: #212121; border: none; margin: -10px 0 0;}
.widget-body.gray { background: #eee; padding: 7px 0 0 }
.widget-body.gray .article-3:last-child { border: none; margin-bottom: 0; }

.telegram-article .section-title { margin-bottom: -4px; border-bottom: 0; }
.telegram-article article img { border-bottom: none; }

/* Horoskop widget */
.horoskop { border-bottom: 1px solid #ddd; margin: 0; background: #eee; }
.horoskop .item-container {
    position: relative;
    height: 200px;
    overflow: hidden;
    background: url(img/horoskop_bg.png) left center no-repeat;
}
.horoskop .item:first-child { margin-top: 0; }
.horoskop .item {
    clear: both;
    -webkit-transition: margin-top 0.3s ease;
    -moz-transition: margin-top 0.3s ease;
    -ms-transition: margin-top 0.3s ease;
    -o-transition: margin-top 0.3s ease;
    transition: margin-top 0.3s ease;
}
.horoskop .item-sign {
    width: 54px;
    height: 70px;
    overflow: hidden;
    background: url(img/zodiac_signs.png);
    background-position: center 0;
    margin: 68px 0 0 15px;
    float: left;
}
.horoskop .ovan     { background-position: center 0; }
.horoskop .bik      { background-position: center -70px; }
.horoskop .blizanci { background-position: center -140px; }
.horoskop .rak      { background-position: center -210px; }
.horoskop .lav      { background-position: center -280px; }
.horoskop .djevica  { background-position: center -350px; }
.horoskop .vaga     { background-position: center -420px; }
.horoskop .skorpion { background-position: center -490px; }
.horoskop .strijelac{ background-position: center -560px; }
.horoskop .jarac    { background-position: center -630px; }
.horoskop .vodenjak { background-position: center -700px; }
.horoskop .ribe     { background-position: center -770px; }

.horoskop .content { font-size: 14px; }
.horoskop .item-text {
    margin: 25px 15px 25px 105px;
    height: 150px;
    color: #333;
    position: relative;
}
.horoskop .item-text .title {
    font: 24px 'Oswald', Impact, sans-serif;
    color: #333;
    padding: 0 0 5px;
}
.horoskop .item-text .title span { color: #f95905; }
.horoskop-arrow {
    position: absolute;
    z-index: 5;
    top: 45px;
    left: 30px;
    color: #fff;
}
.horoskop-arrow:hover { color: #333; }
.horoskop-arrow.down { top: auto; bottom: 45px; }
.horoskop-buttons { position: absolute; bottom: -10px; right: 0; }


/* Dnevni Horoskop */
article.dnevni-horoskop {
    width: 50%;
    float: left;
}
article.dnevni-horoskop .inner { padding: 10px 5px; }
article.dnevni-horoskop .title {
    text-align: center;
    padding: 5px 0;
}
article.dnevni-horoskop .thumb {
    background: #4d3ac0 url(img/zodiac_signs.png) no-repeat;
    background-position: center -9px;
    height: 85px;
}
article.dnevni-horoskop.ovan .thumb     { background-position: center 9px;   }
article.dnevni-horoskop.bik .thumb      { background-position: center -62px;  }
article.dnevni-horoskop.blizanci .thumb { background-position: center -132px; }
article.dnevni-horoskop.rak .thumb      { background-position: center -203px; }
article.dnevni-horoskop.lav .thumb      { background-position: center -272px; }
article.dnevni-horoskop.djevica .thumb  { background-position: center -343px; }
article.dnevni-horoskop.vaga .thumb     { background-position: center -413px; }
article.dnevni-horoskop.skorpion .thumb { background-position: center -483px; }
article.dnevni-horoskop.strijelac .thumb{ background-position: center -554px; }
article.dnevni-horoskop.jarac .thumb    { background-position: center -622px; }
article.dnevni-horoskop.vodenjak .thumb { background-position: center -693px; }
article.dnevni-horoskop.ribe .thumb     { background-position: center -767px; }


@media only screen and (max-width: 320px) {
    #PDI_container9248417 .pds-box { width: 300px !important; }

    .vecernji-widget .article-3 .title {
        font-size: 19px;
    }
}

/*===================================================================================================
                                        Videojs ads setup
====================================================================================================*/

.video-js {
    position: relative;
    width: 100% !important;
}

/* Ad playback */
.vjs-ad-playing.vjs-ad-playing .vjs-progress-control {
    pointer-events: none;
}
.vjs-ad-playing.vjs-ad-playing .vjs-play-progress {
    background-color: #ffe400;
}

/* Ad loading */
.vjs-ad-playing.vjs-ad-loading .vjs-loading-spinner {
    display: block;
}


#ima-ad-container {
    top: 0px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

/* Move overlay if user fast-clicks play button. */
.video-js.vjs-playing .bumpable-ima-ad-container {
    margin-top: -40px;
}

/* Move overlay when controls are active. */
.video-js.vjs-user-inactive.vjs-playing .bumpable-ima-ad-container {
    margin-top: 0px;
}

.video-js.vjs-user-active.vjs-playing .bumpable-ima-ad-container {
    margin-top: -40px;
}

.video-js.vjs-paused .bumpable-ima-ad-container {
    margin-top: -40px;
}

#ima-controls-div {
    bottom:0px;
    height: 37px;
    position: absolute;
    display: none;
    opacity: 1;
    background-color: rgba(7, 20, 30, .7);
    background: -moz-linear-gradient(
            bottom,
            rgba(7, 20, 30, .7) 0%,
            rgba(7, 20, 30, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0%,rgba(7, 20, 30, .7)),
            color-stop(100%,rgba(7, 20, 30, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
            bottom,
            rgba(7, 20, 30, .7) 0%,
            rgba(7, 20, 30, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,
    rgba(7, 20, 30, .7) 0%,
    rgba(7, 20, 30, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,
    rgba(7, 20, 30, .7) 0%,
    rgba(7, 20, 30, 0) 100%); /* IE10+ */
    background: linear-gradient(to top,
    rgba(7, 20, 30, .7) 0%,
    rgba(7, 20, 30, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr='#0007141E',
            endColorstr='#07141E',GradientType=0 ); /* IE6-9 */
}

#ima-countdown-div {
    height: 11px;
    color: #FFFFFF;
    text-shadow: 0 0 0.2em #000;
}

#ima-seek-bar-div {
    top: 12px;
    height: 3px;
    position: absolute;
    background: rgba(255, 255, 255, .4);
}

#ima-progress-div {
    width: 0px;
    height: 3px;
    background-color: #ECC546;
}

#ima-countdown-div {
    height: 10px;
}

#ima-play-pause-div, #ima-mute-div, #ima-slider-div, #ima-fullscreen-div {
    width: 35px;
    height: 20px;
    top: 11px;
    left: 0px;
    position: absolute;
    color: #CCCCCC;
    font-size: 1.5em;
    line-height: 2;
    text-align: center;
    font-family: VideoJS;
}

#ima-mute-div {
    left: auto;
    right: 85px;
}

#ima-slider-div {
    left: auto;
    right: 35px;
    width: 50px;
    height: 10px;
    top: 20px;
    background-color: #555555;
}

#ima-slider-level-div {
    width: 100%;
    height: 10px;
    background-color: #ECC546;
}

#ima-fullscreen-div {
    left: auto;
    right: 0px;
}

.ima-playing:before {
    content: "\00f103";
}

.ima-paused:before {
    content: "\00f101";
}

.ima-playing:hover:before, .ima-paused:hover:before {
    text-shadow: 0 0 1em #fff;
}

.ima-non-muted:before {
    content: "\00f107";
}

.ima-muted:before {
    content: "\00f104";
}

.ima-non-muted:hover:before, .ima-muted:hover:before {
    text-shadow: 0 0 1em #fff;
}

.ima-non-fullscreen:before {
    content: "\00f108";
}

.ima-fullscreen:before {
    content: "\00f109";
}

.ima-non-fullscreen:hover:before, .ima-fullscreen:hover:before {
    text-shadow: 0 0 1em #fff;
}


/* ŽENA NET */

@font-face {
    font-family: "Theano Didot";
    src: url('font/theanodidot-regular-webfont.woff2') format('woff2'),
    url('font/theanodidot-regular-webfont.woff') format('woff'),
    url('font/theanodidot-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.zenabody {
    font-family: "PT Sans", Helvetica, sans-serif;
}
 header.zena .main-navbar {
    background: #fff !important;
    color: #787878 !important;
    box-shadow: 0 0 150px rgba(1,1,1,0.12);
}

.zena .colored #menu-toggle > div {
    background: #787878;
}

.zena .colored #search-activator {
    color: #787878;
}

.zena #google-search {
    padding: 0 10px;
}

.zena #google-search input {
    line-height: 45px;
    height: 45px;
}

header.zena .logo {
    display: block;
    text-align: center;
    float: none;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
}

header.zena .logo img {
    display: inline-block;
    position: relative;
    top: -2px;
}

header.zena #search-activator {
    position: absolute;
    top: 1px;
    right: 10px;
    z-index: 10;
}

.zena .banner {
    margin: 0 -10px;
}

.single-zena .banner {
    margin: 0;
}

/* Articles */
.zena article {
    border-top: none !important;
    border-bottom: 1px solid #ddd;
    padding: 20px 0 10px;
}

.zena article img,
.zena article .thumb img {
    border-bottom: none !important;
}

.zena article .title {
    font-family: "Theano Didot", Times, Serif;
}

.zena .article-1 {
    margin: 0 -10px;
    padding: 0;
    border-bottom: none;
}

.zena .article-1 .bg-shadow {
    display: none;
}

.zena .article-1 .article-text {
    width: 80%;
    border-left: 8px solid #000;
    padding: 3px 0;
    left: 0;
}

.zena .article-1 .article-text .overtitle {
    position: absolute;
    bottom: 100%;
    line-height: 18px;
    margin-bottom: 0;
    background: #ee3c23;
}

.zena .article-1 .article-text .title {
    display: inline;
    background: #000;
    color: #fff;
    text-shadow: none;
    font-family: "Theano Didot", Times, Serif;
    line-height: 1.2em;
    padding: 2px 0;
}

.zena .article-2 {
    width: 100%;
}

.zena .article-2 .overtitle {
    background: #ee3c23;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
}

.zena .article-2 .title {
    padding: 10px 0 0;
    font-size: 18px;
}

.zena .article-2 .thumb {
    margin-bottom: -21px;
}

.zena .article-3 .overtitle {
    color: #ee3c23;
}

.zena .article-3 img {
    margin-bottom: 10px;
}

/* Single */
.zena .single .featured-img {
    margin: 0 -10px;
}

.zena .single-header .overtitle {
    font-size: 18px;
    color: #ee3c23;
    padding: 15px 0 10px;
}

.zena .single-header .title {
    font-family: "Theano Didot", Times, Serif;
    font-size: 30px;
    line-height: 1.1em;
    color: #000;
    padding-bottom: 10px;
}

.zena .single-zena .metabox {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 1px;
}

.zena .single-zena .metabox a {
    color: #ee3e24;
}

.zena .single-zena .page-grid { padding-top: 0 !important; }

.zena .single-zena .article-content {
    font-family: 'PT Serif', Times, Serif;
    color: #000;
}

.zena .single-zena .article-content h4 {
    font-style: italic;
    font-size: 22px;
    padding-bottom: 15px;
}

.zena .single-zena .article-content .quote:before {
    content: normal;
}

.zena .single-zena .article-content .quote {
    color: #ee3c23;
    font-size: 32px;
    font-style: normal;
    line-height: 1.2em;
    padding: 25px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 25px 0;
    letter-spacing: 0.5px;
    font-family: "Theano Didot", Times, Serif;
    text-align: center;
}

.zena .single-zena .article-content ol {
    counter-reset: item;
}

.zena .single-zena .article-content ol li {
    display: block;
    position: relative;
    margin-left: 0;
    margin-bottom: 15px;
}

.zena .single-zena .article-content ol li:before {
    content: counter(item) "";
    counter-increment: item;
    color: #ee3c23;
    text-align: center;
    line-height: 1em;
    font-size: 54px;
    font-style: italic;
    display: block;
    float: left;
    margin-right: 13px;
    font-family: "Theano Didot", Times, Serif;
}

.zena .single-zena .article-content .wp-caption-text {
    font-size: 14px;
    line-height: 1.4em;
    font-style: normal;
    color: #666;
    margin-bottom: 25px;
    text-align: center;
}

.zena .single-zena .article-content .wp-caption-text .right {
    float: none;
}

.zena .single-zena .article-content .wp-caption-text .right:before {
    content: " | ";
}

.zena .single-zena .article-content h3 {
    font-family: "Theano Didot", Times, Serif;
    font-size: 28px;
    line-height: 1.2em;
    text-transform: uppercase;
}

.zena .single-zena .article-content h1,
.zena .single-zena .article-content h2 {
    font-family: "Theano Didot", Times, Serif;
    font-size: 28px;
    line-height: 1.2em;
}

.zena .single-zena .article-content h1 {
    color: #ee3c23;
}

.zena .single-zena .tags a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
    background: #ddd;
    padding: 3px 10px;
}

.zena .single-zena .widget-fb-comments {
    margin: 25px 0;
}

.zena .single-zena .widget-fb-comments .section-title {
    display: none;
}

.zena .single-zena .gallery-link {
    border-top: 3px solid #ee3c23;
}

.zena .single-zena .gallery-link .gallery-link-text {
    font-family: "Theano Didot", Times, sans-serif;
    letter-spacing: 2px;
    margin-top: -10px;
}

.zena .single-zena .gallery-link-text i {
    display: none;
}

.zena .single-zena .gallery-link .triangle {
    border-top: 15px solid #ee3c23;
}

.zena .single-zena .gallery-link:hover .triangle {
    border-top: 25px solid #ee3c23;
}


/* Galerija */
.single-format-gallery {
    background-color: #333;
}

.single-format-gallery .banner {
    background: #222;
}

.single-format-gallery #gallery-title {
    color: #fff;
    font-size: 28px;
    padding: 5px 0;
}

.single-format-gallery .section-title {
    border: none;
}

.single-format-gallery .section-title a {
    color: #aaa;
}


.single-format-gallery .slick-slider .image:after {
    content: " ";
    display: block;
    background: url("https://adriaticmedianethr.files.wordpress.com/2016/07/gallery_instruction.png") no-repeat center;
    background-size: auto 100%;
    height: 21px;
    width: 100%;
    margin-top: 15px;
}

.single-format-gallery .sharedaddy {
    display: none;
}

.single-format-gallery .description,
.single-format-gallery .photographer {
    padding: 0 10px;
    color: #aaa;
    display: block;
    font-size: 14px;
}

/* Zena Net gallery */
.single-zena.single-format-gallery header.zena .main-navbar {
    background: #111 !important;
}

.single-zena.single-format-gallery header.zena .logo {
    background: url("img/zenanet_logo_white.svg") no-repeat center;
    background-size: auto 47px;
    background-position: center -2px;
}

.single-zena.single-format-gallery header.zena .logo img {
    display: none;
}

.single-zena.single-format-gallery .featured-img {
    display: none;
}

.single-zena.single-format-gallery .single-header .title {
    color: #fff;
}

.single-zena.single-format-gallery .new-share,
.single-zena.single-format-gallery .metabox {
    display: none;
}

.single-zena.single-format-gallery .read-more,
.single-zena.single-format-gallery .widget-body {
    background: #333 !important;
}
.single-zena.single-format-gallery .widget-body article,
.single-zena.single-format-gallery .read-more article {
    border-bottom: 1px solid #555 !important;
}

.single-zena.single-format-gallery .read-more article .title,
.single-zena.single-format-gallery .widget-body article .title {
    color: #fff !important;
}

    /* New share */
.new-share {
    line-height: 32px;
    font-size: 16px;
    color: #fff;
    padding: 10px 0 25px;
}

.new-share a {
    color: #fff;
    display: inline-block;
    min-width: 32px;
    border-radius: 100px;
}

.new-share a:hover {
    color: #fff !important;
    background: #000 !important;
}

.new-share > div {
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    margin-right: 5px;
}

.new-share .comments {
    background: #ee3c23;
    min-width: 50px;
    padding: 0 10px;
}

.new-share .shares {
    border-radius: 0;
    color: #666;
    border-left: 1px solid #ddd;
    line-height: 1em;
    text-transform: uppercase;
    text-align: left;
    font-size: 11px;
    height: 32px;
    position: relative;
    bottom: -7px;
    padding-left: 10px;
}

.new-share .shares span {
    display: block;
}

.new-share .shares .num {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    line-height: 1em;
}

.new-share .facebook {
    position: relative;
}

.new-share .facebook > a {
    background: #3b5998;
    border-radius: 0;
}

.new-share .facebook .fb-share {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-left: 3px;
}

.new-share .facebook .fb-save-fake {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-right: 3px;
}

.new-share .facebook .fb-save {
    opacity: 0;
    width: 32px;
    height: 32px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.new-share .twitter {
    background: #55acee;
}

.new-share .linkedin {
    background: #0077b5;
}

.new-share .mail {
    background: #ccc;
}


/* Widgets */
.zena .section-title {
    border-bottom: none;
    color: #ee3c23;
    font-family: "Theano Didot", Times, Serif;
    font-size: 32px !important;
    line-height: 1em;
    letter-spacing: -2px;
    text-align: center;
    display: block;
    margin-bottom: -7px;
}

.zena .widget .widget-body {
    position: relative;
    z-index: 10;
    background: white;
    padding: 0px 0 0;
    border-top: 2px solid #000;
}

.kolumna-velika {
    background: #ee3c23;
    color: #fff;
    border: 5px solid #ee3c23;
    text-align: left;
}

.kolumna-velika a {
    color: #fff;
}

.kolumna-velika a:hover {
    color: #fff !important;
}

.kolumna-velika .thumb {
    float: left;
    background: #fff;
    position: relative;
    width: 300px;
    height: 325px;
    margin-right: 25px;
    display: none;
}

.kolumna-velika .thumb img {
    position: absolute;
    left: 0;
    bottom: 0;
}
.kolumna-velika .text {
    padding: 20px;
}

.kolumna-velika .overtitle {
    font-size: 16px;
    line-height: 1em;
    text-transform: uppercase;
}

.kolumna-velika .title {
    font-family: "Theano Didot", Times, Serif;
    font-size: 36px;
    line-height: 1.1em;
    text-transform: uppercase;
    padding: 20px 0 10px;
}

.kolumna-velika .undertitle {
    font-size: 14px;
    line-height: 1.3em;
}

.kolumna-velika .author {
    font-family: "PT Serif", Times, Serif;
    font-size: 14px;
    padding-bottom: 15px;
}

/* Telegram widget */
.zena .widget.telegram-article {
    margin: 15px 10px 15px;
}

.zena .widget.telegram-article .section-title img {
    display: inline-block;
    margin-bottom: -4px;
}

.zena .widget.telegram-article article {
    margin: 0 10px;
}

.zena .widget.telegram-article article .title {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.3em;
    color: #000;
}

.zena .widget.telegram-article article .overtitle {
    display: none;
}

.zena .read-more {
    padding: 5px 0;
    background: #fff;
    border-top: 2px solid #000;
    position: relative;
    z-index: 5;
    margin: 0 10px;
}

.pitaj-frajera-form {
    margin: 30px 0 70px;
}

.pitaj-frajera-form .form-head img {
    float: left;
    margin-top: -10px;
}

.pitaj-frajera-form .form-head .title {
    font-family: "Theano Didot", Times, Serif;
    font-size: 28px;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ee3c23;
}

.pitaj-frajera-form .form-head .overtitle {
    color: #000;
}

.pitaj-frajera-form .form-body {
    background: #f8f7f3;
    border-top: 2px solid #000;
    border-bottom: 1px solid #ccc;
    padding: 25px 15px 15px;
    position: relative;
    z-index:10;
}

.pitaj-frajera-form .form-body input:not(.button),
.pitaj-frajera-form .form-body textarea {
    display: block;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    width: 100%;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.pitaj-frajera-form .form-body input:not(.button):focus,
.pitaj-frajera-form .form-body textarea:focus {
    border: 1px solid #ee3c23;
}

.pitaj-frajera-form .form-body textarea {
    min-height: 150px;
}

.pitaj-frajera-form .form-body .button {
    position: absolute;
    bottom: -29px;
    right: 15px;
    background: #ee3c23;
    font-family: "PT Serif", Times, Serif;
    font-size: 18px;
    padding: 5px 20px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(1,1,1,0.2);
    text-transform: uppercase;
    color: #fff;
}

.pitaj-frajera-form .form-body .button:hover {
    background: #000;
}


.net_linker {
    padding: 0 2%;
}

.custom-sticker {
    position: absolute;
    top: 15px;
    right: 5px;
    z-index: 10;
    width: 90px !important;
    border: none !important;
}